* {
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Monoton';
    background: linear-gradient(180deg, rgb(15, 10, 10) 10%, rgb(53, 50, 50) 53%, rgba(15, 10, 10) 100%);
    color: white;
    display: flex;
}
.menu {
    margin: 10px;
    display: flex;
    border-radius: 5px;
    font-size: 1.5rem;
}

.menu li:hover > .submenu {
    display: block;
}

.submenu {
    /* margin-top: 9px;   */
    font-size: 18px;
    position: absolute;
    display: none;
}
li {
    list-style: none;
}
.menu-a {
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 10px #ff0000, 0px 0px 10px #ff0000, 0px 0px 10px #ff0000, 0px 0px 10px #ff0000;
}

.submenu a {
    width: 180px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 5px;
    background-color: transparent;
}

.submenu a:hover {
    border-left: 5px solid red;
}
img {
    height: 110px;
}
#mostrador {
    margin: auto;
}
.espaco {
    width: 130px;
    height: 130px;
    border: 2px solid black;
    float: left;
    text-align: center;
    padding-top: 15px;
}
.tabuleiro {
    width: 528px;
    height: 528px;
    margin: auto;
}
button {
    width: 150px;
    height: 5%;
    border-radius: 8px;
    border: 0;
    font-family: 'Mali', cursive;
    font-weight: 80;
    /* font-size: clamp(0.1em, 1em + 1vw, 2em); */
    text-decoration: none;
    font-size: 25px;
    margin-right: 100px;
    margin-top: 200px;
    color: rgb(14, 4, 49);
    background-color: blue;
}

button:hover {
    transform: scale(1.1);
    transition: 0.7s;
}